<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <td><img src="/assets/79574612.png" class="logo"></td>
      <td>Twitter</td>
    </header>

    <%= yield %>

    <footer class="footer">
      <p>ツイッター 2022.04.18</p>
    </footer>
  </body>
</html>
